* {
    margin:0px;
    padding:0px;
}

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* Header */

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(img/home_pic.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

nav {
    display: flex;
    background-color: #374c50;
    opacity: 0.8;
    padding: 0.5% 5%;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    font-family:'Alerta Stencil', sans-serif;
}

nav img {
    width: 120px;
}

.title {
    padding: 10px;
    font-size: 1.8rem;
}

.title h1 {
    color: #eee5d2;
    font-family:'Alerta Stencil',sans-serif;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    display: inline-block;
    list-style: none;
    padding: 8px 12px;
    padding-bottom: 5px;
    position: relative;
    margin: 20px;
}

.nav-links ul li a {
    color: #eee5d2;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    font-size: 1.0rem;
}

.nav-links ul li a:hover {
    color: #232c2c;
}

.text-box {
    padding-top: 100px;
    width: 100%;
    color: #bab8af;
    text-align: center;
    z-index: -2;
}

.text-box h1 {
    font-size: 58px;
    padding-bottom: 20px;
    z-index: -2;
}

.text-box .titleAnimation {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
  }
  
.text-box .titleAnimation .text-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.text-box .titleAnimation .letters {
    display: inline-block;
    font-family:'Alerta Stencil',sans-serif;
    line-height: 1em;
}

.text-box p {
    margin: 10px 0 60px;
    font-size: 20px;
    color: #bab8af;
    font-family: 'Oswald', sans-serif;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #bab8af;
    padding: 15px 34px;
    border: 1px solid #bab8af;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #232c2c;
    background: #232c2c;
    color: #bab8af;
    transition: 0.5s;
}

nav .fa {
    display: none;
}

.learn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    background-color: transparent;
}

.learn-sections {
    width: 100%;
    margin: auto;
    text-align: center;
}

.learn .learn-sections .row{
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}

.learn  .learn-sections .row img {
    width: 275px;
    height: 275px;
    object-fit: cover;
    background:none;
}

.learn  .learn-sections .learn-col {
    flex-basis: 30%;
    border-radius: 10px;
    background-color: #7a9ca3;
    margin-bottom: 5%;
    padding: 15px 5px;
    box-sizing: border-box;
}

.learn  .learn-sections .learn-col:hover {
    background-color: #374c50;
    transition: 0.5s;
}

.learn .learn-sections .learn-col h2 {
    font-size: 25px;
    font-family:'Alerta Stencil', sans-serif;
}


@media(max-width: 1100px) {
    .learn .row{
        flex-direction: column;
    }
}

@media(max-width: 1100px) {

    .logo{
        display: none;
    }

    .text-box h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links ul li:hover::after {
        width: 75%;
        transition: 0.5s;
    }
    .nav-links {
        position: absolute;
        background: #b9432a;
        height: 100%;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 999;
        transition: 1s;
        text-align: center;
    }
    nav .fa {
        display: block;
        color: #bab8af;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        text-align: left;
    }

    .nav-links ul {
        padding: 30px;
    }
}

/* Theme */

.theme {
    background-color: #232c2c;
    padding: 0.5%;
    padding-bottom: 30px;
}

.titleTheme {
    color: #bab8af;
    width: 80%;
    margin: auto;
    text-align: center;
}

.titleTheme h1 {
    font-size: 50px;
    padding-bottom: 15px;
    font-family:'Alerta Stencil', sans-serif;
}

.button {
    margin-bottom: 30px;
}

.button .hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #bab8af;
    padding: 15px 34px;
    border: 1px solid #bab8af;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.button .hero-btn:hover {
    border: 1px solid #bab8af;
    background: #bab8af;
    color: #232c2c;
    transition: 0.5s;
}

/* Footer */

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: #eee5d2;
}

.icon .fa {
    color: #232c2c;
    margin: 10px 15px;
    cursor: pointer;
    padding: 18px 0;
    justify-content: space-between;
}



